@{
  Layout = "_Layout";
}

@using Vote.Models

<h1>@Model.Name</h1>
<hr />
<h2>List of choices</h2>
<ol>
  @Html.BeginForm(){
    @foreach (Choice aChoice in Model.Choices){
        
        <li>@aChoice.Description</li> //add in how many votes each choice has 
        @Html.CheckBox( $"{aChoice.Description}", false) //<-- checkbox

    }
    <input type="submit" value="Vote"/>
  }
</ol>
<hr />

@Html.ActionLink("Add new choice","Create","Choices", new { id = Model.TopicId })</p>


  